@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(90, 102, 212);
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #fff;
    color: #000;
    margin-bottom: 30px;
    height: 60px;
    font-family: 'Lemon', serif;
    box-shadow: 3px 3px 5px #000;
}

header a {
    text-decoration: none;
    list-style: none;
    color: #000;
    margin: 10px;
}

span {
    color: rgb(55, 55, 218);
}

input {
    padding: 3px 3px 3px 5px;
}

button {
    padding: 5px;
    border-radius: 15px;
}

ul>li {
    float: left;
    list-style: none;
    padding: 16px;
    cursor: pointer;
}

.clear {
    clear: both;
}

.conteudo {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    height: 45vw;
    box-shadow: 3px 3px 10px #000;
}

h2 {
    padding: 10px;
}

.sobre {
    display: flex;
}


.sobre h2 {
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.sobre p {
    font-size: 16px;
    text-align: justify;
}

.sobre img {
    width: 350px;
    padding: 10px;
    display: block;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    column-gap: 1%;
    row-gap: 5%;
    text-align: center;
    font-size: 15px;
    border-top: 1px solid #000;
}

h3 .camisa {
    display: flex;
    align-items: center;
}

img {
    width: 200px;
}

button {
    margin-top: 10px;
    background-color: rgb(77, 77, 167);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    background-color: rgb(36, 36, 129);
}

.camisas img {
    width: 200px;
    border-radius: 50%;
}

aside {
    margin-left: 60px;
    max-width: 70%;
    padding-left: 30px;
    border-left: 1px solid rgb(17, 93, 165);
}

aside article {
    padding: 10px;
    margin-top: 50px;
}

aside img {
    width: 200px;
}

@media screen and (min-width:1024px) {
    .conteudo {
        height: 100%;
        padding: 60px;
    }
}

@media screen and (min-width: 641px) and (max-width:1023px) {
    .conteudo {
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;
        height: 100%;
    }

    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 1%;
        row-gap: 5%;
        text-align: center;
        font-size: 15px;
        border-top: 1px solid #000;
        padding: 10px;
    }

    .sobre {
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .sobre div {
        display: flex;
        flex-direction: column;
    }

    .sobre img {
        width: 600px;
        display: block;
    }

}

@media (max-width: 640px) {

    header {
        display: flex;
        flex-direction: column;
    }

    header .container {
        padding-bottom: 10px;
    }


    header nav ul {
        display: flex;
    }

    header button {
        margin: 5px;
    }

    .container {
        display: flex;
        align-items: center;
    }

    .conteudo {
        background-color: #fff;
        color: #000;
        border-radius: 5px;
        padding: 60px;
        height: 120em;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .produtos {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        column-gap: 1%;
        row-gap: 5%;
        text-align: center;
        font-size: 15px;
        border-top: 1px solid #000;
        padding: 10px;
    }

    .sobre {
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }

    .sobre div {
        display: flex;
        flex-direction: column;
    }

    .sobre img {
        width: 300px;
        display: block;
    }

}